Workflows/project-atlas-v0.2-knowledge-base.json
{
  "name": "Project Atlas v0.2 - Knowledge Base",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -544,
        48
      ],
      "id": "2f49727e-fed1-4290-9b92-6124919aafbe",
      "name": "When chat message received",
      "webhookId": "c653eaf1-fd21-46b5-92b3-cc3a280313ea"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Pitanje korisnika:\n{{ $json.chatInput }}\n\nBaza znanja firme:\n{{ $json.knowledgeBase }}",
        "messages": {
          "messageValues": [
            {
              "message": "Ti si AI recepcionar firme Housekeeping Beograd.  Odgovaraj isključivo na srpskom jeziku.  Koristi isključivo informacije iz baze znanja koju dobiješ u poruci.  Ne izmišljaj informacije.  Ako odgovor ne postoji u bazi znanja, reci: \"Trenutno nemam tu informaciju. Molim Vas kontaktirajte našu kancelariju.\"  Odgovaraj kratko, jasno, ljubazno i profesionalno.  Kada korisnik pita za cenu, ne daj konačnu cenu ako nema dovoljno podataka. Prvo traži dodatne informacije."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        32,
        48
      ],
      "id": "6278e9f1-f0dc-462c-9883-e41467232af9",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        32,
        240
      ],
      "id": "a78ea518-3dab-44ea-9e70-4f31a468e6e5",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ni2EeVYPDZYpucqb",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "C:\\Users\\dalib\\.n8n-files\\project-atlas\\Knowledge Base\\Housekeepping\\Company.md",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -368,
        128
      ],
      "id": "91533602-9d00-4297-bd42-911b0eeff154",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "jsCode": "const buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\n\nconst knowledgeBase = buffer.toString('utf8');\n\nconst chatInput = $('When chat message received').first().json.chatInput;\n\nreturn [\n  {\n    json: {\n      chatInput: chatInput,\n      knowledgeBase: knowledgeBase,\n      loadedAt: new Date().toISOString()\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        48
      ],
      "id": "905face2-2475-493e-b61f-0befc0a715b7",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "8ffffa51-9489-4c2a-9c6c-3e00e0b82501",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3efead02804879ed98f95d4a9c7f390065f5b43c0d45993e885af335154c067c"
  },
  "nodeGroups": [],
  "id": "QW6PMWv1MLyENtyk",
  "tags": []
}