Workflows/project-atlas-v1.2-ai-receptionist.json
{
  "name": "Project Atlas v1.2 - AI Receptionist",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -1200,
        -1760
      ],
      "id": "1b53b0ea-b983-4e31-a427-4331c144b9fa",
      "name": "When chat message received",
      "webhookId": "8c4a88a6-90dc-4dce-aee7-e4b6937d77d0"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Poslednja poruka korisnika:\n{{ $json.chatInput }}\n\nIstorija razgovora, hronološki označena ulogama KORISNIK i AI:\n{{ $json.conversation_text || \"Nema prethodnih poruka.\" }}\n\nTrenutni Lead State:\n{{ JSON.stringify({\n  session_id: $json.session_id,\n  name: $json.name,\n  phone: $json.phone,\n  email: $json.email,\n  location: $json.location,\n  service_type: $json.service_type,\n  property_type: $json.property_type,\n  square_meters: $json.square_meters,\n  desired_date: $json.desired_date,\n  customer_type: $json.customer_type,\n  request_summary: $json.request_summary,\n  status: $json.status\n}, null, 2) }}\n\nKontrola narednog pitanja:\n{{ JSON.stringify({\n  collection_required: $json.collection_required,\n  next_field: $json.next_field,\n  next_question: $json.next_question,\n  question_count: $json.question_count\n}, null, 2) }}\n\nDinamička procena kompletnosti:\n{{ JSON.stringify({\n  completeness_applicable: $json.completeness_applicable,\n  required_fields: $json.required_fields,\n  known_required_fields: $json.known_required_fields,\n  missing_required_fields: $json.missing_required_fields,\n  completed_required_count: $json.completed_required_count,\n  total_required_count: $json.total_required_count,\n  completion_percent: $json.completion_percent,\n  is_complete: $json.is_complete,\n  status: $json.status\n}, null, 2) }}\n\nBaza znanja firme:\n{{ $json.knowledgeBase }}\n\nOBAVEZNA PRAVILA ZA OVAJ ODGOVOR:\n1. Prvo odgovori na poslednju poruku korisnika.\n2. Ako next_question nije prazno, postavi samo to jedno pitanje, prirodno uklopljeno u odgovor.\n3. Ne postavljaj nijedno dodatno pitanje i ne nabrajaj missing_required_fields.\n4. Ako je is_complete = true, ne postavljaj novo pitanje za lead podatke.\n5. Ako completeness_applicable = false, odgovori informativno i ne započinji lead prikupljanje.\n6. Ne ponavljaj pitanje za podatak koji već postoji u istoriji ili Lead State objektu.\n\nPredaja operateru:\n{{ JSON.stringify({\n  handoff_required: $json.handoff_required,\n  handoff_channel: $json.handoff_channel,\n  status: $json.status,\n  user_completion_message: $json.user_completion_message,\n  notification_status: $json.notification_status,\n  notification_attempts: $json.notification_attempts,\n  notification_sent_at: $json.notification_sent_at\n}, null, 2) }}\n\nZAVRŠNO PRAVILO:\nAko je handoff_required = true, ne postavljaj pitanje. Korisniku prenesi smisao user_completion_message kratko i prirodno. Ne prikazuj interni operator_summary.",
        "messages": {
          "messageValues": [
            {
              "message": "{{ $json.promptEngine }}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -160,
        -1440
      ],
      "id": "70716e24-b606-4cf2-b308-d8488e7e953c",
      "name": "Basic LLM Chain",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1500,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -112,
        -1136
      ],
      "id": "9405bf94-5f21-4ec8-8a37-095990fd6efd",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ni2EeVYPDZYpucqb",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "C:\\Users\\dalib\\.n8n-files\\project-atlas\\Knowledge Base\\Housekeeping\\*.md",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -1168,
        -1072
      ],
      "id": "35115a2b-b1e2-4473-b5fa-50484d7993c9",
      "name": "Read/Write Files from Disk",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1500,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const inputItems = $input.all();\n\nconst knowledgeSections = [];\n\nfor (let i = 0; i < inputItems.length; i++) {\n  const buffer = await this.helpers.getBinaryDataBuffer(i, 'data');\n\n  const fileName =\n    inputItems[i].binary?.data?.fileName ||\n    inputItems[i].binary?.data?.fileNameOriginal ||\n    `knowledge-file-${i + 1}.md`;\n\n  const fileText = buffer.toString('utf8');\n\n  knowledgeSections.push(\n    `\\n\\n---\\nFAJL: ${fileName}\\n---\\n${fileText}`\n  );\n}\n\nconst chatInput = $('When chat message received').first().json.chatInput;\n\nreturn [\n  {\n    json: {\n      chatInput,\n      knowledgeBase: knowledgeSections.join('\\n'),\n      loadedFiles: inputItems.length,\n      loadedAt: new Date().toISOString()\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1008,
        -1760
      ],
      "id": "6bdf1d43-f8c8-4d83-8d00-bb7c5d930362",
      "name": "Code in JavaScript",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const chatInput = String($json.chatInput || '').trim();\nconst text = chatInput.toLowerCase();\nconst chatTriggerData = $('When chat message received').first().json;\n\nconst sessionId = String(\n  chatTriggerData.sessionId ||\n  chatTriggerData.session_id ||\n  chatTriggerData.chatSessionId ||\n  chatTriggerData.chat_session_id ||\n  'unknown-session'\n);\n\nfunction getBelgradeTimestamp() {\n  return new Date().toLocaleString('sv-SE', {\n    timeZone: 'Europe/Belgrade',\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n    hour: '2-digit',\n    minute: '2-digit',\n    second: '2-digit',\n    hour12: false\n  });\n}\n\nfunction extractPhone(input) {\n  const matches = [...input.matchAll(/(?:\\+381|0)6\\d[\\s\\/.-]?\\d{3}[\\s\\/.-]?\\d{3,4}/g)];\n  const match = matches[matches.length - 1];\n  return match ? match[0].replace(/[\\s\\/.-]/g, '') : '';\n}\n\nfunction extractEmail(input) {\n  const matches = [...input.matchAll(/[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,}/gi)];\n  const match = matches[matches.length - 1];\n  return match ? match[0].toLowerCase() : '';\n}\n\nfunction extractName(input) {\n  const patterns = [\n    /moje ime je\\s+([a-zA-ZčćžšđČĆŽŠĐ\\s]+?)(?:,|\\.|telefon|broj|$)/i,\n    /zovem se\\s+([a-zA-ZčćžšđČĆŽŠĐ\\s]+?)(?:,|\\.|telefon|broj|$)/i,\n    /ja sam\\s+([a-zA-ZčćžšđČĆŽŠĐ\\s]+?)(?:,|\\.|telefon|broj|$)/i\n  ];\n\n  for (const pattern of patterns) {\n    const match = input.match(pattern);\n    if (match && match[1]) return match[1].trim();\n  }\n\n  return '';\n}\n\nfunction extractLocation(lowerText) {\n  if (lowerText.includes('novi beograd') || lowerText.includes('novom beogradu')) return 'Novi Beograd';\n  if (lowerText.includes('zemun') || lowerText.includes('zemunu')) return 'Zemun';\n  if (lowerText.includes('beograd') || lowerText.includes('beogradu')) return 'Beograd';\n  return '';\n}\n\nfunction extractServiceType(lowerText) {\n  if (lowerText.includes('generalno') || lowerText.includes('generalnog')) return 'Generalno čišćenje';\n  if (lowerText.includes('redovno')) return 'Redovno čišćenje';\n  if (lowerText.includes('dubinsko') || lowerText.includes('dubinskog')) return 'Dubinsko pranje';\n\n  if (\n    lowerText.includes('poslovni prostor') ||\n    lowerText.includes('poslovnog prostora') ||\n    lowerText.includes('održavanje poslovnog')\n  ) {\n    return 'Održavanje poslovnih prostora';\n  }\n\n  return '';\n}\n\nfunction extractPropertyType(lowerText) {\n  if (lowerText.includes('stan')) return 'Stan';\n  if (lowerText.includes('kuća') || lowerText.includes('kuca')) return 'Kuća';\n  if (\n    lowerText.includes('poslovni prostor') ||\n    lowerText.includes('poslovnog prostora') ||\n    lowerText.includes('poslovnom prostoru') ||\n    lowerText.includes('poslovnim prostorom') ||\n    lowerText.includes('kancelarija') ||\n    lowerText.includes('kancelarije') ||\n    lowerText.includes('kancelariji')\n  ) return 'Poslovni prostor';\n  if (lowerText.includes('lokal')) return 'Lokal';\n  if (lowerText.includes('zgrada')) return 'Zgrada';\n  return '';\n}\n\nfunction extractSquareMeters(input) {\n  const match = input.match(/(\\d+)\\s*(m2|m²|kvadrata|kvadratnih|kvm)/i);\n  return match ? match[1] : '';\n}\n\nfunction extractDesiredDate(input, lowerText) {\n  const explicitDate = input.match(/\\b(\\d{1,2}[.\\/-]\\d{1,2}(?:[.\\/-]\\d{2,4})?)\\b/);\n  if (explicitDate) return explicitDate[1];\n  if (lowerText.includes('danas')) return 'Danas';\n  if (lowerText.includes('sutra')) return 'Sutra';\n  if (\n    lowerText.includes('sledeće nedelje') ||\n    lowerText.includes('sledeca nedelja') ||\n    lowerText.includes('sledeća nedelja')\n  ) return 'Sledeća nedelja';\n  if (lowerText.includes('ove nedelje')) return 'Ove nedelje';\n  return '';\n}\n\nfunction extractCustomerType(lowerText) {\n  if (\n    lowerText.includes('firma') ||\n    lowerText.includes('firme') ||\n    lowerText.includes('firmi') ||\n    lowerText.includes('firmu') ||\n    lowerText.includes('firmom') ||\n    lowerText.includes('pravno lice') ||\n    lowerText.includes('kompanija') ||\n    lowerText.includes('preduzeće') ||\n    lowerText.includes('preduzece')\n  ) return 'Pravno lice';\n  if (lowerText.includes('fizičko lice') || lowerText.includes('fizicko lice')) return 'Fizičko lice';\n  return '';\n}\n\nconst timestamp = getBelgradeTimestamp();\n\nreturn [\n  {\n    json: {\n      created_at: timestamp,\n      updated_at: timestamp,\n      session_id: sessionId,\n      source: 'n8n-chat',\n      name: extractName(chatInput),\n      phone: extractPhone(chatInput),\n      email: extractEmail(chatInput),\n      location: extractLocation(text),\n      service_type: extractServiceType(text),\n      property_type: extractPropertyType(text),\n      square_meters: extractSquareMeters(chatInput),\n      desired_date: extractDesiredDate(chatInput, text),\n      customer_type: extractCustomerType(text),\n      request_summary: chatInput,\n      status: 'new',\n      notes: 'Lead se dopunjava kroz razgovor. Potrebna provera operatera.',\n      conversation_text: '',\n      notification_key: '',\n      notification_status: '',\n      notification_attempts: 0,\n      notification_last_attempt_at: '',\n      notification_sent_at: '',\n      notification_message_id: '',\n      notification_error: ''\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -976,
        -1056
      ],
      "id": "2e202093-cc04-490b-99eb-6b4b7b3eac4e",
      "name": "Prepare Lead Data",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1hNomH7Al5Cg72E9dv24L7Klc3uJrVbrP9VAaLDjgHgg/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hNomH7Al5Cg72E9dv24L7Klc3uJrVbrP9VAaLDjgHgg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "created_at": "={{ $json.created_at }}",
            "source": "={{ $json.source }}",
            "name": "={{ $json.name }}",
            "phone": "={{ $json.phone ? \"'\" + $json.phone : \"\" }}",
            "email": "={{ $json.email }}",
            "location": "={{ $json.location }}",
            "service_type": "={{ $json.service_type }}",
            "property_type": "={{ $json.property_type }}",
            "desired_date": "={{ $json.desired_date }}",
            "customer_type": "={{ $json.customer_type }}",
            "status": "={{ $json.status }}",
            "notes": "={{ $json.notes }}",
            "square_meters": "={{ $json.square_meters }}",
            "request_summary": "={{ $json.request_summary }}",
            "conversation_text": "={{ $json.conversation_text }}",
            "updated_at": "={{ $json.updated_at }}",
            "session_id": "={{ $json.session_id }}",
            "notification_key": "={{ $json.notification_key }}",
            "notification_status": "={{ $json.notification_status }}",
            "notification_attempts": "={{ $json.notification_attempts }}",
            "notification_last_attempt_at": "={{ $json.notification_last_attempt_at }}",
            "notification_sent_at": "={{ $json.notification_sent_at }}",
            "notification_message_id": "={{ $json.notification_message_id }}",
            "notification_error": "={{ $json.notification_error }}"
          },
          "matchingColumns": [
            "session_id"
          ],
          "schema": [
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "service_type",
              "displayName": "service_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "property_type",
              "displayName": "property_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "square_meters",
              "displayName": "square_meters",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "desired_date",
              "displayName": "desired_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer_type",
              "displayName": "customer_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "request_summary",
              "displayName": "request_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "conversation_text",
              "displayName": "conversation_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notification_key",
              "displayName": "notification_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notification_status",
              "displayName": "notification_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notification_attempts",
              "displayName": "notification_attempts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "notification_last_attempt_at",
              "displayName": "notification_last_attempt_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notification_sent_at",
              "displayName": "notification_sent_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notification_message_id",
              "displayName": "notification_message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notification_error",
              "displayName": "notification_error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -576,
        -1760
      ],
      "id": "4f889a4d-bce3-469b-ab06-e063b8d3c4e5",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RI5VTCenYoItLapx",
          "name": "Google Sheets account"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1500,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1hNomH7Al5Cg72E9dv24L7Klc3uJrVbrP9VAaLDjgHgg",
          "mode": "list",
          "cachedResultName": "Project Atlas - Housekeeping Leads ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hNomH7Al5Cg72E9dv24L7Klc3uJrVbrP9VAaLDjgHgg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hNomH7Al5Cg72E9dv24L7Klc3uJrVbrP9VAaLDjgHgg/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "session_id",
              "lookupValue": "={{ $('Prepare Lead Data').first().json.session_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -784,
        -1760
      ],
      "id": "15e8a4ee-7c53-40b5-b1ce-a6b430124eb9",
      "name": "Find Existing Lead",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RI5VTCenYoItLapx",
          "name": "Google Sheets account"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1500,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const newLead = $('Prepare Lead Data').first().json;\nconst foundRows = $input.all();\n\nlet existingLead = {};\n\nif (\n  foundRows.length > 0 &&\n  foundRows[0].json &&\n  foundRows[0].json.session_id &&\n  String(foundRows[0].json.session_id) === String(newLead.session_id)\n) {\n  existingLead = foundRows[0].json;\n}\n\nfunction keepOldOrUseNew(oldValue, newValue) {\n  const oldClean = oldValue ? String(oldValue).trim() : '';\n  const newClean = newValue ? String(newValue).trim() : '';\n  return newClean || oldClean;\n}\n\nfunction appendTurn(history, role, message) {\n  const historyClean = history ? String(history).trim() : '';\n  const messageClean = message ? String(message).trim() : '';\n  if (!messageClean) return historyClean;\n\n  const turn = role + ': ' + messageClean;\n  if (!historyClean) return turn;\n\n  const turns = historyClean.split('\\n---\\n');\n  if (turns[turns.length - 1] === turn) return historyClean;\n\n  return historyClean + '\\n---\\n' + turn;\n}\n\nconst hasLeadData = [\n  newLead.name,\n  newLead.phone,\n  newLead.email,\n  newLead.location,\n  newLead.service_type,\n  newLead.property_type,\n  newLead.square_meters,\n  newLead.desired_date,\n  newLead.customer_type\n].some((value) => String(value || '').trim() !== '');\n\nconst mergedLead = {\n  created_at: existingLead.created_at || newLead.created_at,\n  updated_at: newLead.updated_at,\n  session_id: newLead.session_id,\n  source: existingLead.source || newLead.source,\n  name: keepOldOrUseNew(existingLead.name, newLead.name),\n  phone: keepOldOrUseNew(existingLead.phone, newLead.phone),\n  email: keepOldOrUseNew(existingLead.email, newLead.email),\n  location: keepOldOrUseNew(existingLead.location, newLead.location),\n  service_type: keepOldOrUseNew(existingLead.service_type, newLead.service_type),\n  property_type: keepOldOrUseNew(existingLead.property_type, newLead.property_type),\n  square_meters: keepOldOrUseNew(existingLead.square_meters, newLead.square_meters),\n  desired_date: keepOldOrUseNew(existingLead.desired_date, newLead.desired_date),\n  customer_type: keepOldOrUseNew(existingLead.customer_type, newLead.customer_type),\n  request_summary: newLead.request_summary,\n  status: existingLead.status || (hasLeadData ? 'collecting' : 'new'),\n  notes: existingLead.notes || newLead.notes,\n  conversation_text: appendTurn(existingLead.conversation_text, 'KORISNIK', newLead.request_summary),\n  notification_key: keepOldOrUseNew(existingLead.notification_key, newLead.notification_key),\n  notification_status: keepOldOrUseNew(existingLead.notification_status, newLead.notification_status),\n  notification_attempts: Number(existingLead.notification_attempts || newLead.notification_attempts || 0),\n  notification_last_attempt_at: keepOldOrUseNew(existingLead.notification_last_attempt_at, newLead.notification_last_attempt_at),\n  notification_sent_at: keepOldOrUseNew(existingLead.notification_sent_at, newLead.notification_sent_at),\n  notification_message_id: keepOldOrUseNew(existingLead.notification_message_id, newLead.notification_message_id),\n  notification_error: keepOldOrUseNew(existingLead.notification_error, newLead.notification_error)\n};\n\nreturn [{ json: mergedLead }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -752,
        -1056
      ],
      "id": "c7b30ef4-8700-4c90-a0c4-f02887e09473",
      "name": "Merge Lead Data",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fileSelector": "C:\\Users\\dalib\\.n8n-files\\project-atlas\\Prompts\\*.md",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -544,
        -1056
      ],
      "id": "c44d2714-1921-4e2e-b60b-c164c06da85f",
      "name": "Load Prompt Files",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1500,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const promptItems = $input.all();\n\nconst leadState = $('Resolve Operator Handoff').first().json;\nconst conversationData = $('Code in JavaScript').first().json;\n\nconst combinedPrompts = promptItems\n  .map((item) => {\n    const binaryFile = item.binary?.data;\n\n    if (!binaryFile?.data) {\n      return '';\n    }\n\n    const fileName = binaryFile.fileName || 'unknown-prompt.md';\n    const content = Buffer.from(binaryFile.data, 'base64').toString('utf8');\n\n    return `===== ${fileName} =====\\n${content}`;\n  })\n  .filter((content) => content !== '')\n  .join('\\n\\n');\n\nreturn [\n  {\n    json: {\n      ...leadState,\n      chatInput: conversationData.chatInput || '',\n      knowledgeBase: conversationData.knowledgeBase || '',\n      promptEngine: combinedPrompts,\n      loadedPromptFiles: promptItems.length\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        -1760
      ],
      "id": "a26b5adc-c214-4b0a-af1a-8d316ac86a1a",
      "name": "Combine Prompt Files",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const leadState = $('Combine Prompt Files').first().json;\nconst aiResponse = String($json.text || $json.output || '').trim();\n\nif (!aiResponse) {\n  throw new Error('AI odgovor je prazan; istorija razgovora nije sačuvana.');\n}\n\nfunction appendTurn(history, role, message) {\n  const historyClean = history ? String(history).trim() : '';\n  const messageClean = message ? String(message).trim() : '';\n  const turn = role + ': ' + messageClean;\n  if (!historyClean) return turn;\n  return historyClean + '\\n---\\n' + turn;\n}\n\nconst updatedAt = new Date().toLocaleString('sv-SE', {\n  timeZone: 'Europe/Belgrade',\n  year: 'numeric',\n  month: '2-digit',\n  day: '2-digit',\n  hour: '2-digit',\n  minute: '2-digit',\n  second: '2-digit',\n  hour12: false\n});\n\nreturn [\n  {\n    json: {\n      ...leadState,\n      updated_at: updatedAt,\n      conversation_text: appendTurn(leadState.conversation_text, 'AI', aiResponse),\n      text: aiResponse\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        -1440
      ],
      "id": "a0c76783-cfba-4506-9512-7517d42aa188",
      "name": "Store Conversation Context",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1hNomH7Al5Cg72E9dv24L7Klc3uJrVbrP9VAaLDjgHgg/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hNomH7Al5Cg72E9dv24L7Klc3uJrVbrP9VAaLDjgHgg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "created_at": "={{ $json.created_at }}",
            "source": "={{ $json.source }}",
            "name": "={{ $json.name }}",
            "phone": "={{ $json.phone ? \"'\" + $json.phone : \"\" }}",
            "email": "={{ $json.email }}",
            "location": "={{ $json.location }}",
            "service_type": "={{ $json.service_type }}",
            "property_type": "={{ $json.property_type }}",
            "desired_date": "={{ $json.desired_date }}",
            "customer_type": "={{ $json.customer_type }}",
            "status": "={{ $json.status }}",
            "notes": "={{ $json.notes }}",
            "square_meters": "={{ $json.square_meters }}",
            "request_summary": "={{ $json.request_summary }}",
            "conversation_text": "={{ $json.conversation_text }}",
            "updated_at": "={{ $json.updated_at }}",
            "session_id": "={{ $json.session_id }}",
            "notification_key": "={{ $json.notification_key }}",
            "notification_status": "={{ $json.notification_status }}",
            "notification_attempts": "={{ $json.notification_attempts }}",
            "notification_last_attempt_at": "={{ $json.notification_last_attempt_at }}",
            "notification_sent_at": "={{ $json.notification_sent_at }}",
            "notification_message_id": "={{ $json.notification_message_id }}",
            "notification_error": "={{ $json.notification_error }}"
          },
          "matchingColumns": [
            "session_id"
          ],
          "schema": [
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "service_type",
              "displayName": "service_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "property_type",
              "displayName": "property_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "square_meters",
              "displayName": "square_meters",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "desired_date",
              "displayName": "desired_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer_type",
              "displayName": "customer_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "request_summary",
              "displayName": "request_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "conversation_text",
              "displayName": "conversation_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notification_key",
              "displayName": "notification_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notification_status",
              "displayName": "notification_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notification_attempts",
              "displayName": "notification_attempts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "notification_last_attempt_at",
              "displayName": "notification_last_attempt_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notification_sent_at",
              "displayName": "notification_sent_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notification_message_id",
              "displayName": "notification_message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notification_error",
              "displayName": "notification_error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        320,
        -1440
      ],
      "id": "59bc4557-a311-40ef-a73f-471c2d69a7f1",
      "name": "Save Conversation Context",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RI5VTCenYoItLapx",
          "name": "Google Sheets account"
        }
      },
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1500,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const storedContext = $('Store Conversation Context').first().json;\nreturn [{ json: { text: storedContext.text } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        -1440
      ],
      "id": "d8bb5684-c1aa-466c-a24c-fc0d89e02a53",
      "name": "Return Chat Response",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const lead = { ...$json };\n\nfunction clean(value) {\n  return value === null || value === undefined ? '' : String(value).trim();\n}\n\nconst latestMessage = clean(lead.request_summary).toLowerCase();\nconst history = clean(lead.conversation_text).toLowerCase();\nconst context = history + '\\n' + latestMessage;\n\nconst knownLeadFields = [\n  lead.service_type,\n  lead.location,\n  lead.property_type,\n  lead.square_meters,\n  lead.desired_date,\n  lead.name,\n  lead.phone,\n  lead.email,\n  lead.customer_type\n].some((value) => clean(value) !== '');\n\nconst collectionIntent = /(?:želim|zelim|treba mi|potrebno mi|zaka(?:z|ž)|termin|ponud|tačn(?:a|u) cen|tacn(?:a|u) cen|koliko košta|koliko kosta|kontakt|pozove|operater|zainteresovan)/i.test(context) || knownLeadFields;\nconst contactRequested = /(?:kontakt|pozove|operater|javi mi se|javite mi se)/i.test(context);\nconst priceRequested = /(?:cen|koliko košta|koliko kosta|ponud)/i.test(context);\nconst service = clean(lead.service_type).toLowerCase();\nconst isBusiness = service.includes('poslov') || clean(lead.customer_type).toLowerCase().includes('pravno');\nconst requiresProperty = service.includes('general') || service.includes('redovno') || service.includes('poslov');\nconst requiresSquareMeters = requiresProperty;\nconst deepCleaningItemsKnown = /(?:sofa|trosed|fotelj|dušek|dusek|stolic|tepih|nameštaj|namestaj|komad)/i.test(context);\n\nconst fieldKnown = {\n  service_type: clean(lead.service_type) !== '',\n  location: clean(lead.location) !== '',\n  property_type: clean(lead.property_type) !== '',\n  square_meters: clean(lead.square_meters) !== '',\n  desired_date: clean(lead.desired_date) !== '',\n  phone: clean(lead.phone) !== '',\n  name: clean(lead.name) !== '',\n  email: clean(lead.email) !== '',\n  customer_type: clean(lead.customer_type) !== '',\n  item_details: deepCleaningItemsKnown\n};\n\nlet priority = [];\n\nif (collectionIntent) {\n  if (contactRequested) {\n    priority = ['phone', 'name', 'service_type', 'location', 'desired_date'];\n  } else {\n    priority.push('service_type', 'location');\n\n    if (isBusiness) {\n      priority.push('customer_type');\n    }\n\n    if (requiresProperty) {\n      priority.push('property_type');\n    }\n\n    if (requiresSquareMeters) {\n      priority.push('square_meters');\n    }\n\n    if (service.includes('dubinsko')) {\n      priority.push('item_details');\n    }\n\n    if (priceRequested) {\n      priority.push('phone', 'name', 'desired_date');\n    } else {\n      priority.push('desired_date', 'phone', 'name');\n    }\n\n    if (isBusiness) {\n      priority.push('email');\n    }\n  }\n}\n\nconst uniquePriority = [...new Set(priority)];\nconst missingFields = uniquePriority.filter((field) => !fieldKnown[field]);\nconst nextField = missingFields[0] || '';\n\nconst questions = {\n  service_type: 'Koja usluga Vam je potrebna?',\n  location: 'U kom delu grada se nalazi objekat?',\n  property_type: 'O kom tipu objekta je reč?',\n  square_meters: 'Kolika je približna kvadratura prostora?',\n  desired_date: 'Koji termin Vam okvirno odgovara?',\n  phone: 'Koji broj telefona operater može da koristi za kontakt?',\n  name: 'Na koje ime da evidentiramo zahtev?',\n  email: 'Na koju email adresu želite da primite ponudu?',\n  customer_type: 'Da li se javljate kao fizičko ili pravno lice?',\n  item_details: 'Šta je potrebno dubinski oprati i koliko komada?'\n};\n\nreturn [\n  {\n    json: {\n      ...lead,\n      collection_required: collectionIntent,\n      required_fields: uniquePriority,\n      missing_fields: missingFields,\n      next_field: nextField,\n      next_question: nextField ? questions[nextField] : '',\n      question_count: nextField ? 1 : 0\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -640,
        -1280
      ],
      "id": "0f6d9c31-5e4b-4f89-a9d9-e0ce5f3f358c",
      "name": "Select Next Question",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const lead = { ...$json };\n\nfunction asUniqueList(value) {\n  if (!Array.isArray(value)) return [];\n  return [...new Set(value.map((item) => String(item || '').trim()).filter(Boolean))];\n}\n\nconst requiredFields = asUniqueList(lead.required_fields);\nconst selectorMissing = new Set(asUniqueList(lead.missing_fields));\nconst knownRequiredFields = requiredFields.filter((field) => !selectorMissing.has(field));\nconst missingRequiredFields = requiredFields.filter((field) => selectorMissing.has(field));\nconst totalRequiredCount = requiredFields.length;\nconst completedRequiredCount = knownRequiredFields.length;\nconst completenessApplicable = Boolean(lead.collection_required) && totalRequiredCount > 0;\nconst completionPercent = completenessApplicable\n  ? Math.round((completedRequiredCount / totalRequiredCount) * 100)\n  : 0;\nconst isComplete = completenessApplicable && missingRequiredFields.length === 0;\n\nlet status = 'informational';\nlet notes = 'Informativni upit bez aktivnog prikupljanja lead podataka.';\n\nif (completenessApplicable) {\n  status = isComplete ? 'ready_for_operator' : 'collecting';\n  notes = isComplete\n    ? 'Lead je kompletan po pravilima izabrane usluge i spreman je za operatera.'\n    : 'Kompletnost ' + completionPercent + '%. Nedostaju polja: ' + missingRequiredFields.join(', ') + '.';\n}\n\nreturn [\n  {\n    json: {\n      ...lead,\n      required_fields: requiredFields,\n      known_required_fields: knownRequiredFields,\n      missing_required_fields: missingRequiredFields,\n      completed_required_count: completedRequiredCount,\n      total_required_count: totalRequiredCount,\n      completion_percent: completionPercent,\n      completeness_applicable: completenessApplicable,\n      is_complete: isComplete,\n      status,\n      notes\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        -1280
      ],
      "id": "5a117df2-19a7-493a-9864-88453d925ef4",
      "name": "Evaluate Lead Completeness",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const lead = { ...$json };\n\nfunction clean(value) {\n  return value === null || value === undefined ? '' : String(value).trim();\n}\n\nfunction valueOrDash(value) {\n  return clean(value) || 'Nije prikupljeno';\n}\n\nfunction belgradeTimestamp() {\n  return new Date().toLocaleString('sv-SE', {\n    timeZone: 'Europe/Belgrade',\n    year: 'numeric', month: '2-digit', day: '2-digit',\n    hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false\n  });\n}\n\nconst completeLead = lead.is_complete === true && lead.status === 'ready_for_operator';\nconst previousNotificationStatus = clean(lead.notification_status).toLowerCase();\nlet operatorSummary = '';\nlet handoffRequired = false;\nlet handoffChannel = '';\nlet notificationSendRequired = false;\nlet notificationKey = clean(lead.notification_key);\nlet notificationStatus = previousNotificationStatus;\nlet notificationAttempts = Number(lead.notification_attempts || 0);\nlet notificationLastAttemptAt = clean(lead.notification_last_attempt_at);\nlet notificationSentAt = clean(lead.notification_sent_at);\nlet notificationMessageId = clean(lead.notification_message_id);\nlet notificationError = clean(lead.notification_error);\nlet status = lead.status;\nlet userCompletionMessage = '';\nlet notes = lead.notes;\n\nif (completeLead) {\n  const lines = [\n    'NOVI KOMPLETAN ZAHTEV',\n    'Sesija: ' + valueOrDash(lead.session_id),\n    'Klijent: ' + valueOrDash(lead.name),\n    'Telefon: ' + valueOrDash(lead.phone),\n    'Email: ' + valueOrDash(lead.email),\n    'Usluga: ' + valueOrDash(lead.service_type),\n    'Lokacija: ' + valueOrDash(lead.location),\n    'Objekat: ' + valueOrDash(lead.property_type),\n    'Kvadratura: ' + valueOrDash(lead.square_meters),\n    'Termin: ' + valueOrDash(lead.desired_date),\n    'Tip klijenta: ' + valueOrDash(lead.customer_type),\n    'Poslednji zahtev: ' + valueOrDash(lead.request_summary),\n    'Kompletnost: ' + valueOrDash(lead.completion_percent) + '%'\n  ];\n\n  operatorSummary = lines.join('\\n');\n  handoffRequired = true;\n  notificationKey = notificationKey || 'atlas:' + clean(lead.session_id) + ':operator-handoff:v1';\n  notes = operatorSummary;\n\n  if (previousNotificationStatus === 'sent') {\n    handoffChannel = 'email';\n    status = 'handed_off';\n    userCompletionMessage = 'Hvala, svi podaci su zabeleženi. Zahtev je već prosleđen operateru emailom i neće biti poslat ponovo.';\n  } else if (previousNotificationStatus === 'sending') {\n    status = 'handoff_pending';\n    userCompletionMessage = 'Hvala, zahtev je sačuvan. Obaveštenje operateru je još u obradi i neću tvrditi da je poslato dok ne dobijemo potvrdu.';\n  } else {\n    notificationSendRequired = true;\n    notificationStatus = 'sending';\n    notificationAttempts += 1;\n    notificationLastAttemptAt = belgradeTimestamp();\n    notificationError = '';\n    status = 'handoff_pending';\n    userCompletionMessage = 'Hvala, zahtev je sačuvan. Upravo pokušavam da obavestim operatera.';\n  }\n}\n\nreturn [{ json: {\n  ...lead,\n  operator_summary: operatorSummary,\n  handoff_required: handoffRequired,\n  handoff_channel: handoffChannel,\n  notification_send_required: notificationSendRequired,\n  notification_key: notificationKey,\n  notification_status: notificationStatus,\n  notification_attempts: notificationAttempts,\n  notification_last_attempt_at: notificationLastAttemptAt,\n  notification_sent_at: notificationSentAt,\n  notification_message_id: notificationMessageId,\n  notification_error: notificationError,\n  user_completion_message: userCompletionMessage,\n  status,\n  notes\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        -1280
      ],
      "id": "8c4e6b02-167a-453c-a182-11a73bcaaf4f",
      "name": "Prepare Operator Handoff",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: {\n  text: 'Trenutno ne mogu pouzdano da proverim informacije firme. Vaš zahtev nije potvrđen. Pokušajte ponovo malo kasnije ili kontaktirajte operatera.',\n  failure_code: 'KNOWLEDGE_UNAVAILABLE',\n  saved: false\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        -2200
      ],
      "id": "34b8d5fd-f5d4-43bb-a25a-c6d1c202d3bd",
      "name": "Return Knowledge Failure"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: {\n  text: 'Trenutno ne mogu da sačuvam vaš zahtev, zato ga neću označiti kao primljenog. Pokušajte ponovo malo kasnije ili kontaktirajte operatera.',\n  failure_code: 'DATA_STORE_UNAVAILABLE',\n  saved: false\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        -2200
      ],
      "id": "fa6f758b-2c95-477c-a749-f105b8aa0b8a",
      "name": "Return Sheets Failure"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: {\n  text: 'Trenutno ne mogu da obradim poruku. Vaš zahtev nije potvrđen. Pokušajte ponovo malo kasnije ili kontaktirajte operatera.',\n  failure_code: 'AI_UNAVAILABLE',\n  saved: false\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        -2200
      ],
      "id": "d270ecfb-b5d0-46a7-9afa-b6f7e89635be",
      "name": "Return AI Failure"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: {\n  text: 'Došlo je do privremenog problema i zahtev nije potvrđen. Pokušajte ponovo malo kasnije ili kontaktirajte operatera.',\n  failure_code: 'PROCESSING_FAILURE',\n  saved: false\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        -2200
      ],
      "id": "8eff66a5-888e-43b3-b81a-2d15ff89d280",
      "name": "Return Processing Failure"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "111617db-96b5-4f18-b8a8-8b1f01bd18f1-condition",
              "leftValue": "={{ $json.error || \"\" }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -640,
        -1760
      ],
      "id": "111617db-96b5-4f18-b8a8-8b1f01bd18f1",
      "name": "Check Sheets Read Result"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "222728ec-a7c6-4029-c9b9-9c2f12ce29f2-condition",
              "leftValue": "={{ $json.error || \"\" }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -480,
        -1440
      ],
      "id": "222728ec-a7c6-4029-c9b9-9c2f12ce29f2",
      "name": "Check Lead Write Result"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "333839fd-b8d7-413a-daca-ad3023df30f3-condition",
              "leftValue": "={{ $json.error || \"\" }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        480,
        -1440
      ],
      "id": "333839fd-b8d7-413a-daca-ad3023df30f3",
      "name": "Check Context Save Result"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "4152d812-1cd7-48fb-b6cf-e00e5353f846-condition",
              "leftValue": "={{ $(\"Prepare Operator Handoff\").first().json.notification_send_required ? \"send\" : \"\" }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -240,
        -1440
      ],
      "id": "4152d812-1cd7-48fb-b6cf-e00e5353f846",
      "name": "Should Send Operator Email"
    },
    {
      "parameters": {
        "fromEmail": "Project Atlas <office@housekeepingbeograd.com>",
        "toEmail": "office@housekeepingbeograd.com",
        "subject": "=Novi Atlas zahtev | {{ $(\"Prepare Operator Handoff\").first().json.name || \"Nepoznat klijent\" }} | {{ $(\"Prepare Operator Handoff\").first().json.service_type || \"Usluga\" }}",
        "emailFormat": "text",
        "text": "={{ $(\"Prepare Operator Handoff\").first().json.operator_summary + \"\\n\\nStatus ID: \" + $(\"Prepare Operator Handoff\").first().json.notification_key }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        0,
        -1560
      ],
      "id": "e6f7a5d1-6159-496d-bf79-22e529afcabc",
      "name": "Send Operator Email",
      "credentials": {
        "smtp": {
          "id": "2E4Psl9IXjtsJPAA",
          "name": "SMTP account"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c2a420af-7bbf-4ca1-8564-a524f83e9cbd-condition",
              "leftValue": "={{ $json.error || \"\" }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        240,
        -1560
      ],
      "id": "c2a420af-7bbf-4ca1-8564-a524f83e9cbd",
      "name": "Check Email Send Result"
    },
    {
      "parameters": {
        "jsCode": "const base = $('Prepare Operator Handoff').first().json;\nconst result = { ...$json };\nconst sentAt = new Date().toLocaleString('sv-SE', {\n  timeZone: 'Europe/Belgrade',\n  year: 'numeric', month: '2-digit', day: '2-digit',\n  hour: '2-digit', minute: '2-digit', second: '2-digit', hour12: false\n});\n\nreturn [{ json: {\n  ...base,\n  notification_send_required: false,\n  notification_status: 'sent',\n  notification_sent_at: sentAt,\n  notification_message_id: String(result.messageId || result.message_id || ''),\n  notification_error: '',\n  handoff_channel: 'email',\n  status: 'handed_off'\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        -1640
      ],
      "id": "87c4f5c6-c46c-480f-bd46-e2c04b7247aa",
      "name": "Prepare Notification Success",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const base = $('Prepare Operator Handoff').first().json;\nconst result = { ...$json };\nconst rawError = String(result.error?.message || result.error || 'Email server nije potvrdio slanje.');\nconst safeError = rawError\n  .replace(/(?:\\+381|0)6\\d[\\s\\/.-]?\\d{3}[\\s\\/.-]?\\d{3,4}/g, '[PHONE]')\n  .replace(/[A-Z0-9._%+-]+@[A-Z0-9.-]+\\.[A-Z]{2,}/gi, '[EMAIL]')\n  .slice(0, 500);\n\nreturn [{ json: {\n  ...base,\n  notification_send_required: false,\n  notification_status: 'failed',\n  notification_sent_at: '',\n  notification_message_id: '',\n  notification_error: safeError,\n  handoff_channel: '',\n  status: 'notification_failed'\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        -1480
      ],
      "id": "195ef66a-58c2-4a57-af1d-28fcace9cc04",
      "name": "Prepare Notification Failure",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1hNomH7Al5Cg72E9dv24L7Klc3uJrVbrP9VAaLDjgHgg/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hNomH7Al5Cg72E9dv24L7Klc3uJrVbrP9VAaLDjgHgg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "created_at": "={{ $json.created_at }}",
            "source": "={{ $json.source }}",
            "name": "={{ $json.name }}",
            "phone": "={{ $json.phone ? \"'\" + $json.phone : \"\" }}",
            "email": "={{ $json.email }}",
            "location": "={{ $json.location }}",
            "service_type": "={{ $json.service_type }}",
            "property_type": "={{ $json.property_type }}",
            "desired_date": "={{ $json.desired_date }}",
            "customer_type": "={{ $json.customer_type }}",
            "status": "={{ $json.status }}",
            "notes": "={{ $json.notes }}",
            "square_meters": "={{ $json.square_meters }}",
            "request_summary": "={{ $json.request_summary }}",
            "conversation_text": "={{ $json.conversation_text }}",
            "updated_at": "={{ $json.updated_at }}",
            "session_id": "={{ $json.session_id }}",
            "notification_key": "={{ $json.notification_key }}",
            "notification_status": "={{ $json.notification_status }}",
            "notification_attempts": "={{ $json.notification_attempts }}",
            "notification_last_attempt_at": "={{ $json.notification_last_attempt_at }}",
            "notification_sent_at": "={{ $json.notification_sent_at }}",
            "notification_message_id": "={{ $json.notification_message_id }}",
            "notification_error": "={{ $json.notification_error }}"
          },
          "matchingColumns": [
            "session_id"
          ],
          "schema": [
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "service_type",
              "displayName": "service_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "property_type",
              "displayName": "property_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "square_meters",
              "displayName": "square_meters",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "desired_date",
              "displayName": "desired_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer_type",
              "displayName": "customer_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "request_summary",
              "displayName": "request_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "conversation_text",
              "displayName": "conversation_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notification_key",
              "displayName": "notification_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notification_status",
              "displayName": "notification_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notification_attempts",
              "displayName": "notification_attempts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "notification_last_attempt_at",
              "displayName": "notification_last_attempt_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notification_sent_at",
              "displayName": "notification_sent_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notification_message_id",
              "displayName": "notification_message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notification_error",
              "displayName": "notification_error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        720,
        -1560
      ],
      "id": "2e180c50-81f0-4d51-b18d-74235a15b0de",
      "name": "Save Notification Status",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RI5VTCenYoItLapx",
          "name": "Google Sheets account"
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1500,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d0ef08e5-9113-40e1-b148-fb5f96ff1e99-condition",
              "leftValue": "={{ $json.error || \"\" }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        960,
        -1560
      ],
      "id": "d0ef08e5-9113-40e1-b148-fb5f96ff1e99",
      "name": "Check Notification Status Save"
    },
    {
      "parameters": {
        "jsCode": "const base = $('Prepare Operator Handoff').first().json;\nconst latest = { ...$json };\nconst lead = { ...base, ...latest };\nconst notificationStatus = String(lead.notification_status || '').trim().toLowerCase();\nconst completeLead = base.is_complete === true;\nlet userCompletionMessage = base.user_completion_message || '';\n\nif (completeLead && notificationStatus === 'sent') {\n  userCompletionMessage = 'Hvala, zabeležio sam sve potrebne podatke. Zahtev je uspešno prosleđen operateru emailom, koji će Vas kontaktirati radi potvrde termina i konačnih detalja.';\n} else if (completeLead && notificationStatus === 'failed') {\n  userCompletionMessage = 'Hvala, Vaš zahtev je sačuvan, ali email obaveštenje operateru trenutno nije poslato. Sistem neće tvrditi da je predaja uspela; neuspešno slanje je evidentirano i može se ponoviti.';\n} else if (completeLead && notificationStatus === 'sending') {\n  userCompletionMessage = 'Hvala, Vaš zahtev je sačuvan. Status email obaveštenja još nije potvrđen.';\n}\n\nreturn [{ json: {\n  ...lead,\n  handoff_required: completeLead,\n  handoff_channel: notificationStatus === 'sent' ? 'email' : '',\n  notification_send_required: false,\n  user_completion_message: userCompletionMessage,\n  status: notificationStatus === 'sent'\n    ? 'handed_off'\n    : (completeLead ? (notificationStatus === 'failed' ? 'notification_failed' : 'handoff_pending') : lead.status)\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        -1360
      ],
      "id": "b4d92c4e-9977-48d0-81c8-6e90b3642fa4",
      "name": "Resolve Operator Handoff",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: {\n  text: 'Vaš zahtev je sačuvan, ali trenutno ne mogu pouzdano da potvrdim status email obaveštenja. Neću tvrditi da je predaja uspela. Status je ostao označen za proveru operatera.',\n  failure_code: 'NOTIFICATION_STATE_UNAVAILABLE',\n  saved: true,\n  notification_confirmed: false\n} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        -2040
      ],
      "id": "29efe3ac-fba1-40cd-baa7-c0929ade342a",
      "name": "Return Notification State Failure"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Knowledge Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Prepare Lead Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Knowledge Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Lead Data": {
      "main": [
        [
          {
            "node": "Find Existing Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Processing Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Check Lead Write Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Existing Lead": {
      "main": [
        [
          {
            "node": "Check Sheets Read Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Lead Data": {
      "main": [
        [
          {
            "node": "Select Next Question",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Processing Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Prompt Files": {
      "main": [
        [
          {
            "node": "Combine Prompt Files",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Knowledge Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Prompt Files": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Knowledge Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Store Conversation Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return AI Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Conversation Context": {
      "main": [
        [
          {
            "node": "Save Conversation Context",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Processing Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Conversation Context": {
      "main": [
        [
          {
            "node": "Check Context Save Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Next Question": {
      "main": [
        [
          {
            "node": "Evaluate Lead Completeness",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Processing Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Lead Completeness": {
      "main": [
        [
          {
            "node": "Prepare Operator Handoff",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Processing Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Operator Handoff": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Processing Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Sheets Read Result": {
      "main": [
        [
          {
            "node": "Return Sheets Failure",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Lead Write Result": {
      "main": [
        [
          {
            "node": "Return Sheets Failure",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Should Send Operator Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Context Save Result": {
      "main": [
        [
          {
            "node": "Return Sheets Failure",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Chat Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Chat Response": {
      "main": [
        [],
        [
          {
            "node": "Return Processing Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Send Operator Email": {
      "main": [
        [
          {
            "node": "Send Operator Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resolve Operator Handoff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Operator Email": {
      "main": [
        [
          {
            "node": "Check Email Send Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Email Send Result": {
      "main": [
        [
          {
            "node": "Prepare Notification Failure",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Notification Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Notification Success": {
      "main": [
        [
          {
            "node": "Save Notification Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Processing Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Notification Failure": {
      "main": [
        [
          {
            "node": "Save Notification Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Processing Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Notification Status": {
      "main": [
        [
          {
            "node": "Check Notification Status Save",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Notification Status Save": {
      "main": [
        [
          {
            "node": "Return Notification State Failure",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Resolve Operator Handoff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Operator Handoff": {
      "main": [
        [
          {
            "node": "Load Prompt Files",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Processing Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "errorWorkflow": "ATLASERRS2X2026Z",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "saveManualExecutions": true
  },
  "versionId": "325c05dc-2194-4852-b17d-a27519a7bf80",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3efead02804879ed98f95d4a9c7f390065f5b43c0d45993e885af335154c067c"
  },
  "nodeGroups": [],
  "id": "ATLASV12S3X2026Z",
  "tags": []
}
