Workflows/project-atlas-v0.5-ai-receptionist-segment-3.json
{
  "name": "Project Atlas v0.5 - AI Receptionist",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -1200,
        -1760
      ],
      "id": "1b53b0ea-b983-4e31-a427-4331c144b9fa",
      "name": "When chat message received",
      "webhookId": "47129028-f84b-4632-95c4-df37dfe06e2e"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Pitanje korisnika:\n{{ $json.chatInput }}\n\nBaza znanja firme:\n{{ $json.knowledgeBase }}\n\nTrenutni Lead State:\n{{ JSON.stringify({\n  session_id: $json.session_id,\n  name: $json.name,\n  phone: $json.phone,\n  email: $json.email,\n  location: $json.location,\n  service_type: $json.service_type,\n  property_type: $json.property_type,\n  square_meters: $json.square_meters,\n  desired_date: $json.desired_date,\n  customer_type: $json.customer_type,\n  request_summary: $json.request_summary,\n  status: $json.status,\n  conversation_text: $json.conversation_text\n}, null, 2) }}",
        "messages": {
          "messageValues": [
            {
              "message": "{{ $json.promptEngine }}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -160,
        -1440
      ],
      "id": "70716e24-b606-4cf2-b308-d8488e7e953c",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -112,
        -1136
      ],
      "id": "9405bf94-5f21-4ec8-8a37-095990fd6efd",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ni2EeVYPDZYpucqb",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "C:\\Users\\dalib\\.n8n-files\\project-atlas\\Knowledge Base\\Housekeeping\\*.md",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -1168,
        -1072
      ],
      "id": "35115a2b-b1e2-4473-b5fa-50484d7993c9",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "jsCode": "const inputItems = $input.all();\n\nconst knowledgeSections = [];\n\nfor (let i = 0; i < inputItems.length; i++) {\n  const buffer = await this.helpers.getBinaryDataBuffer(i, 'data');\n\n  const fileName =\n    inputItems[i].binary?.data?.fileName ||\n    inputItems[i].binary?.data?.fileNameOriginal ||\n    `knowledge-file-${i + 1}.md`;\n\n  const fileText = buffer.toString('utf8');\n\n  knowledgeSections.push(\n    `\\n\\n---\\nFAJL: ${fileName}\\n---\\n${fileText}`\n  );\n}\n\nconst chatInput = $('When chat message received').first().json.chatInput;\n\nreturn [\n  {\n    json: {\n      chatInput,\n      knowledgeBase: knowledgeSections.join('\\n'),\n      loadedFiles: inputItems.length,\n      loadedAt: new Date().toISOString()\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1008,
        -1760
      ],
      "id": "6bdf1d43-f8c8-4d83-8d00-bb7c5d930362",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "const chatInput = $json.chatInput || '';\nconst text = chatInput.toLowerCase();\n\nconst chatTriggerData = $('When chat message received').first().json;\n\nconst sessionId = String(\n  chatTriggerData.sessionId ||\n  chatTriggerData.session_id ||\n  chatTriggerData.chatSessionId ||\n  chatTriggerData.chat_session_id ||\n  'unknown-session'\n);\n\nfunction getBelgradeTimestamp() {\n  return new Date().toLocaleString('sv-SE', {\n    timeZone: 'Europe/Belgrade',\n    year: 'numeric',\n    month: '2-digit',\n    day: '2-digit',\n    hour: '2-digit',\n    minute: '2-digit',\n    second: '2-digit',\n    hour12: false\n  });\n}\n\nfunction extractPhone(input) {\n  const match = input.match(/(?:\\+381|0)6\\d[\\s\\/.-]?\\d{3}[\\s\\/.-]?\\d{3,4}/);\n  return match ? match[0].replace(/[\\s\\/.-]/g, '') : '';\n}\n\nfunction extractName(input) {\n  const patterns = [\n    /moje ime je\\s+([a-zA-ZčćžšđČĆŽŠĐ\\s]+?)(?:,|\\.|telefon|broj|$)/i,\n    /zovem se\\s+([a-zA-ZčćžšđČĆŽŠĐ\\s]+?)(?:,|\\.|telefon|broj|$)/i,\n    /ja sam\\s+([a-zA-ZčćžšđČĆŽŠĐ\\s]+?)(?:,|\\.|telefon|broj|$)/i\n  ];\n\n  for (const pattern of patterns) {\n    const match = input.match(pattern);\n    if (match && match[1]) {\n      return match[1].trim();\n    }\n  }\n\n  return '';\n}\n\nfunction extractLocation(lowerText) {\n  if (lowerText.includes('novi beograd') || lowerText.includes('novom beogradu')) return 'Novi Beograd';\n  if (lowerText.includes('zemun') || lowerText.includes('zemunu')) return 'Zemun';\n  if (lowerText.includes('beograd') || lowerText.includes('beogradu')) return 'Beograd';\n  return '';\n}\n\nfunction extractServiceType(lowerText) {\n  if (lowerText.includes('generalno') || lowerText.includes('generalnog')) return 'Generalno čišćenje';\n  if (lowerText.includes('redovno')) return 'Redovno čišćenje';\n  if (lowerText.includes('dubinsko') || lowerText.includes('dubinskog')) return 'Dubinsko pranje';\n\n  if (\n    lowerText.includes('poslovni prostor') ||\n    lowerText.includes('poslovnog prostora') ||\n    lowerText.includes('održavanje poslovnog')\n  ) {\n    return 'Održavanje poslovnih prostora';\n  }\n\n  return '';\n}\n\nfunction extractPropertyType(lowerText) {\n  if (lowerText.includes('stan')) return 'Stan';\n  if (lowerText.includes('kuća') || lowerText.includes('kuca')) return 'Kuća';\n  if (lowerText.includes('poslovni prostor') || lowerText.includes('kancelarija')) return 'Poslovni prostor';\n  if (lowerText.includes('lokal')) return 'Lokal';\n  if (lowerText.includes('zgrada')) return 'Zgrada';\n  return '';\n}\n\nfunction extractSquareMeters(input) {\n  const match = input.match(/(\\d+)\\s*(m2|m²|kvadrata|kvadratnih|kvm)/i);\n  return match ? match[1] : '';\n}\n\nfunction extractDesiredDate(lowerText) {\n  if (lowerText.includes('danas')) return 'Danas';\n  if (lowerText.includes('sutra')) return 'Sutra';\n\n  if (\n    lowerText.includes('sledeće nedelje') ||\n    lowerText.includes('sledeca nedelja') ||\n    lowerText.includes('sledeća nedelja')\n  ) {\n    return 'Sledeća nedelja';\n  }\n\n  if (lowerText.includes('ove nedelje')) return 'Ove nedelje';\n\n  return '';\n}\n\nfunction extractCustomerType(lowerText) {\n  if (\n    lowerText.includes('firma') ||\n    lowerText.includes('pravno lice') ||\n    lowerText.includes('kompanija') ||\n    lowerText.includes('preduzeće') ||\n    lowerText.includes('preduzece')\n  ) {\n    return 'Pravno lice';\n  }\n\n  if (lowerText.includes('fizičko lice') || lowerText.includes('fizicko lice')) {\n    return 'Fizičko lice';\n  }\n\n  return '';\n}\n\nfunction keepOldOrUseNew(oldValue, newValue) {\n  const oldClean = oldValue ? String(oldValue).trim() : '';\n  const newClean = newValue ? String(newValue).trim() : '';\n\n  if (newClean !== '') {\n    return newClean;\n  }\n\n  return oldClean;\n}\n\nconst timestamp = getBelgradeTimestamp();\n\nconst newData = {\n  name: extractName(chatInput),\n  phone: extractPhone(chatInput),\n  email: '',\n  location: extractLocation(text),\n  service_type: extractServiceType(text),\n  property_type: extractPropertyType(text),\n  square_meters: extractSquareMeters(chatInput),\n  desired_date: extractDesiredDate(text),\n  customer_type: extractCustomerType(text)\n};\n\nconst staticData = $getWorkflowStaticData('global');\n\nif (!staticData.leads) {\n  staticData.leads = {};\n}\n\nconst existingLead = staticData.leads[sessionId] || {};\n\nconst previousConversation = existingLead.conversation_text || '';\n\nconst mergedLead = {\n  created_at: existingLead.created_at || timestamp,\n  updated_at: timestamp,\n  session_id: sessionId,\n  source: 'n8n-chat',\n\n  name: keepOldOrUseNew(existingLead.name, newData.name),\n  phone: keepOldOrUseNew(existingLead.phone, newData.phone),\n  email: keepOldOrUseNew(existingLead.email, newData.email),\n  location: keepOldOrUseNew(existingLead.location, newData.location),\n  service_type: keepOldOrUseNew(existingLead.service_type, newData.service_type),\n  property_type: keepOldOrUseNew(existingLead.property_type, newData.property_type),\n  square_meters: keepOldOrUseNew(existingLead.square_meters, newData.square_meters),\n  desired_date: keepOldOrUseNew(existingLead.desired_date, newData.desired_date),\n  customer_type: keepOldOrUseNew(existingLead.customer_type, newData.customer_type),\n\n  request_summary: chatInput,\n  status: 'new',\n  notes: 'Lead se dopunjava kroz razgovor. Potrebna provera operatera.',\n  conversation_text: previousConversation\n    ? `${previousConversation}\\n---\\n${chatInput}`\n    : chatInput\n};\n\nstaticData.leads[sessionId] = mergedLead;\n\nreturn [\n  {\n    json: mergedLead\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -976,
        -1056
      ],
      "id": "2e202093-cc04-490b-99eb-6b4b7b3eac4e",
      "name": "Prepare Lead Data"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1hNomH7Al5Cg72E9dv24L7Klc3uJrVbrP9VAaLDjgHgg/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hNomH7Al5Cg72E9dv24L7Klc3uJrVbrP9VAaLDjgHgg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "created_at": "={{ $json.created_at }}",
            "source": "={{ $json.source }}",
            "name": "={{ $json.name }}",
            "phone": "={{ $json.phone ? \"'\" + $json.phone : \"\" }}",
            "email": "={{ $json.email }}",
            "location": "={{ $json.location }}",
            "service_type": "={{ $json.service_type }}",
            "property_type": "={{ $json.property_type }}",
            "desired_date": "={{ $json.desired_date }}",
            "customer_type": "={{ $json.customer_type }}",
            "status": "={{ $json.status }}",
            "notes": "={{ $json.notes }}",
            "square_meters": "={{ $json.square_meters }}",
            "request_summary": "={{ $json.request_summary }}",
            "conversation_text": "={{ $json.conversation_text }}",
            "updated_at": "={{ $json.updated_at }}",
            "session_id": "={{ $json.session_id }}"
          },
          "matchingColumns": [
            "session_id"
          ],
          "schema": [
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "session_id",
              "displayName": "session_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "service_type",
              "displayName": "service_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "property_type",
              "displayName": "property_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "square_meters",
              "displayName": "square_meters",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "desired_date",
              "displayName": "desired_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer_type",
              "displayName": "customer_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "request_summary",
              "displayName": "request_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "conversation_text",
              "displayName": "conversation_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -576,
        -1760
      ],
      "id": "4f889a4d-bce3-469b-ab06-e063b8d3c4e5",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RI5VTCenYoItLapx",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1hNomH7Al5Cg72E9dv24L7Klc3uJrVbrP9VAaLDjgHgg",
          "mode": "list",
          "cachedResultName": "Project Atlas - Housekeeping Leads ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hNomH7Al5Cg72E9dv24L7Klc3uJrVbrP9VAaLDjgHgg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hNomH7Al5Cg72E9dv24L7Klc3uJrVbrP9VAaLDjgHgg/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "session_id",
              "lookupValue": "={{ $('Prepare Lead Data').first().json.session_id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -784,
        -1760
      ],
      "id": "15e8a4ee-7c53-40b5-b1ce-a6b430124eb9",
      "name": "Find Existing Lead",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RI5VTCenYoItLapx",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const newLead = $('Prepare Lead Data').first().json;\n\nconst foundRows = $input.all();\n\nlet existingLead = {};\n\nif (\n  foundRows.length > 0 &&\n  foundRows[0].json &&\n  foundRows[0].json.session_id &&\n  String(foundRows[0].json.session_id) === String(newLead.session_id)\n) {\n  existingLead = foundRows[0].json;\n}\n\nfunction keepOldOrUseNew(oldValue, newValue) {\n  const oldClean = oldValue ? String(oldValue).trim() : '';\n  const newClean = newValue ? String(newValue).trim() : '';\n\n  if (newClean !== '') {\n    return newClean;\n  }\n\n  return oldClean;\n}\n\nfunction mergeConversation(oldText, newText) {\n  const oldClean = oldText ? String(oldText).trim() : '';\n  const newClean = newText ? String(newText).trim() : '';\n\n  if (!oldClean) return newClean;\n  if (!newClean) return oldClean;\n\n  if (oldClean.includes(newClean)) return oldClean;\n\n  return `${oldClean}\\n---\\n${newClean}`;\n}\n\nconst mergedLead = {\n  created_at: existingLead.created_at || newLead.created_at,\n  updated_at: newLead.updated_at,\n  session_id: newLead.session_id,\n  source: newLead.source,\n\n  name: keepOldOrUseNew(existingLead.name, newLead.name),\n  phone: keepOldOrUseNew(existingLead.phone, newLead.phone),\n  email: keepOldOrUseNew(existingLead.email, newLead.email),\n  location: keepOldOrUseNew(existingLead.location, newLead.location),\n  service_type: keepOldOrUseNew(existingLead.service_type, newLead.service_type),\n  property_type: keepOldOrUseNew(existingLead.property_type, newLead.property_type),\n  square_meters: keepOldOrUseNew(existingLead.square_meters, newLead.square_meters),\n  desired_date: keepOldOrUseNew(existingLead.desired_date, newLead.desired_date),\n  customer_type: keepOldOrUseNew(existingLead.customer_type, newLead.customer_type),\n\n  request_summary: newLead.request_summary,\n  status: existingLead.status || newLead.status || 'new',\n  notes: 'Lead se dopunjava kroz razgovor. Potrebna provera operatera.',\n  conversation_text: mergeConversation(existingLead.conversation_text, newLead.conversation_text)\n};\n\nreturn [\n  {\n    json: mergedLead\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -752,
        -1056
      ],
      "id": "c7b30ef4-8700-4c90-a0c4-f02887e09473",
      "name": "Merge Lead Data"
    },
    {
      "parameters": {
        "fileSelector": "C:\\Users\\dalib\\.n8n-files\\project-atlas\\Prompts\\*.md",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -544,
        -1056
      ],
      "id": "c44d2714-1921-4e2e-b60b-c164c06da85f",
      "name": "Load Prompt Files"
    },
    {
      "parameters": {
        "jsCode": "const promptItems = $input.all();\n\nconst leadState = $('Merge Lead Data').first().json;\nconst conversationData = $('Code in JavaScript').first().json;\n\nconst combinedPrompts = promptItems\n  .map((item) => {\n    const binaryFile = item.binary?.data;\n\n    if (!binaryFile?.data) {\n      return '';\n    }\n\n    const fileName = binaryFile.fileName || 'unknown-prompt.md';\n    const content = Buffer.from(binaryFile.data, 'base64').toString('utf8');\n\n    return `===== ${fileName} =====\\n${content}`;\n  })\n  .filter((content) => content !== '')\n  .join('\\n\\n');\n\nreturn [\n  {\n    json: {\n      ...leadState,\n      chatInput: conversationData.chatInput || '',\n      knowledgeBase: conversationData.knowledgeBase || '',\n      promptEngine: combinedPrompts,\n      loadedPromptFiles: promptItems.length\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -384,
        -1760
      ],
      "id": "a26b5adc-c214-4b0a-af1a-8d316ac86a1a",
      "name": "Combine Prompt Files"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Prepare Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Lead Data": {
      "main": [
        [
          {
            "node": "Find Existing Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Load Prompt Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Existing Lead": {
      "main": [
        [
          {
            "node": "Merge Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Lead Data": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Prompt Files": {
      "main": [
        [
          {
            "node": "Combine Prompt Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Prompt Files": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "22d4b899-eec7-47f1-9e7b-931441746546",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3efead02804879ed98f95d4a9c7f390065f5b43c0d45993e885af335154c067c"
  },
  "nodeGroups": [],
  "id": "XPeS9n1lh0xniwfR",
  "tags": []
}