Workflows/project-atlas-v0.3-google-sheets-test.json
{
  "name": "Project Atlas v0.3 - Knowledge Base",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -544,
        48
      ],
      "id": "2f49727e-fed1-4290-9b92-6124919aafbe",
      "name": "When chat message received",
      "webhookId": "c653eaf1-fd21-46b5-92b3-cc3a280313ea"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Pitanje korisnika:\n{{ $json.chatInput }}\n\nBaza znanja firme:\n{{ $json.knowledgeBase }}",
        "messages": {
          "messageValues": [
            {
              "message": "Ti si AI recepcionar firme Housekeeping Beograd.  Odgovaraj isključivo na srpskom jeziku.  Koristi isključivo informacije iz baze znanja koju dobiješ u poruci.  Ne izmišljaj informacije.  Ako odgovor ne postoji u bazi znanja, reci: \"Trenutno nemam tu informaciju. Molim Vas ostavite broj telefona i operater će Vas kontaktirati.\"  Odgovaraj kratko, jasno, ljubazno i profesionalno.  Uvek persiraj korisniku.  Ne koristi emotikone.  Kada korisnik pita za cenu, ne daj konačnu cenu ako nema dovoljno podataka. Prvo traži dodatne informacije.  Kada korisnik želi zakazivanje, slobodan termin, tačnu cenu, ponudu ili kontakt operatera, tvoj cilj je da prikupiš lead podatke.  Lead podaci su: - ime i prezime - broj telefona - lokacija - tip usluge - kratak opis zahteva - željeni termin, ako korisnik želi zakazivanje - email, ako korisnik želi ponudu, račun ili kontakt putem emaila  Ne traži sve podatke odjednom ako bi odgovor bio predugačak.  Prvo traži najvažnije: - ime i prezime - broj telefona - lokaciju - tip usluge  Ako je korisnik već dao neki podatak, nemoj ga tražiti ponovo.  Ne smeš da kažeš da je termin potvrđen.  Ne smeš da kažeš da je cena konačna.  Ne smeš da kažeš da je operater već obavešten ako podaci nisu upisani u sistem.  Kada prikupiš podatke, reci korisniku: \"Hvala. Zabeležio sam podatke za proveru. Operater će Vas kontaktirati radi potvrde.\"  Ako korisnik ne želi da ostavi podatke, nastavi ljubazno i odgovori samo na osnovu baze znanja."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        32,
        48
      ],
      "id": "6278e9f1-f0dc-462c-9883-e41467232af9",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -112,
        352
      ],
      "id": "a78ea518-3dab-44ea-9e70-4f31a468e6e5",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "ni2EeVYPDZYpucqb",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "C:\\Users\\dalib\\.n8n-files\\project-atlas\\Knowledge Base\\Housekeeping\\*.md",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -368,
        128
      ],
      "id": "91533602-9d00-4297-bd42-911b0eeff154",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "jsCode": "const inputItems = $input.all();\n\nconst knowledgeSections = [];\n\nfor (let i = 0; i < inputItems.length; i++) {\n  const buffer = await this.helpers.getBinaryDataBuffer(i, 'data');\n\n  const fileName =\n    inputItems[i].binary?.data?.fileName ||\n    inputItems[i].binary?.data?.fileNameOriginal ||\n    `knowledge-file-${i + 1}.md`;\n\n  const fileText = buffer.toString('utf8');\n\n  knowledgeSections.push(\n    `\\n\\n---\\nFAJL: ${fileName}\\n---\\n${fileText}`\n  );\n}\n\nconst chatInput = $('When chat message received').first().json.chatInput;\n\nreturn [\n  {\n    json: {\n      chatInput,\n      knowledgeBase: knowledgeSections.join('\\n'),\n      loadedFiles: inputItems.length,\n      loadedAt: new Date().toISOString()\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -192,
        48
      ],
      "id": "905face2-2475-493e-b61f-0befc0a715b7",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1hNomH7Al5Cg72E9dv24L7Klc3uJrVbrP9VAaLDjgHgg/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Leads",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hNomH7Al5Cg72E9dv24L7Klc3uJrVbrP9VAaLDjgHgg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "created_at": "2026-07-09 23:45",
            "source": "n8n-test",
            "name": "Test Iz n8n",
            "phone": "0601111111",
            "email": "test-n8n@example.com",
            "location": "Zemun",
            "service_type": "Generalno čišćenje",
            "property_type": "Stan",
            "square_meters": "70",
            "desired_date": "Sledeća nedelja",
            "customer_type": "Fizičko lice",
            "request_summary": "Test upis iz n8n u Google Sheets",
            "status": "new",
            "notes": "Test Segment 4",
            "conversation_text": "Korisnik želi generalno čišćenje stana od 70m2 u Zemunu"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "location",
              "displayName": "location",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "service_type",
              "displayName": "service_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "property_type",
              "displayName": "property_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "square_meters",
              "displayName": "square_meters",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "desired_date",
              "displayName": "desired_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer_type",
              "displayName": "customer_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "request_summary",
              "displayName": "request_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "conversation_text",
              "displayName": "conversation_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -560,
        400
      ],
      "id": "7f478402-cae9-4b14-84b6-811e4e804866",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "RI5VTCenYoItLapx",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "47643e1b-697b-453d-babe-12f0099b9c3f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3efead02804879ed98f95d4a9c7f390065f5b43c0d45993e885af335154c067c"
  },
  "nodeGroups": [],
  "id": "QW6PMWv1MLyENtyk",
  "tags": []
}